<h1>Contact Information</h1>
<h2><%= @contact.first_name %> <%= @contact.last_name %></h2>
<h3>Email: <%= @contact.email %></h3>
<h3>Phone Number: <%= @contact.phone_number %></h3>

<div class="row">
  <div class="col-md-2">
    <a href="/contacts/<%= @contact.id %>/edit" type="button" class="btn btn-primary btn-md">Update Contact</a>
  </div>
  <div class="col-md-2">
    <%= form_tag "/contacts/#{@contact.id}", method: :delete do %><input type="submit" value="Delete Contact" class="btn btn-default btn-md"><% end %>
  </div>
  <div class="col-md-2">
    <a href="/" type="button" class="btn btn-default btn-md">Cancel</a>
  </div>
</div>

<!-- Button trigger modal -->
<div>
  <br>
  <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#myModal">
    Launch demo modal
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Warning!</h4>
      </div>

      <div class="modal-body">
        This will permanently delete your contact!  This is not reversible!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-default">Delete Permanently</button>
      </div>
    </div>
  </div>
</div>